@model AddFilmWrapper
@{
    ViewData["Title"] = "Film Módosítása";
}
<div class="insetContent">
@using (Html.BeginForm("ModifyFilmPost", "Movies", FormMethod.Post))
{
    @Html.LabelFor(f => f.Title)
    <br />
    @Html.TextBoxFor(f => f.Title, new { value = Model.Title, required = "required" })
    <br />
    @Html.LabelFor(f => f.Year)
    <br />
    @Html.TextBoxFor(f => f.Year, new { value = Model.Year, type = "number", min = 1, required = "required" })
    <br />
    @Html.LabelFor(f => f.Style)
    <br />
    @Html.TextBoxFor(f => f.Style, new { value = Model.Style, required = "required" })
    <br />
    @Html.LabelFor(f => f.Director)
    <br />
    @Html.TextBoxFor(f => f.Director, new { value = Model.Director, required = "required" })
    <br />
    <p>Színészek</p>

    <div id="addActors">

        @{int i = 0;
            @foreach (var a in Model.Actors)
            {
                <input type="text" value="@a" name="actor_@i" id="actor_@i" class="actorInput" /><button id="removeActor_@i" class="removeActor">Törlés</button>
                <br /><br />
                i = i + 1;   
            }
        }


    </div>
    <br />
    <button id="addActorButton">Új színész hozzáadása</button>
    <br />

    @Html.LabelFor(f => f.Watched)
    <br />
    @Html.TextBoxFor(f => f.Watched, new { @Value = Model.Watched, type = "datetime" })
    <br />
    @Html.HiddenFor(f => f.Id, new { value = Model.Id })
    @Html.HiddenFor(f => f.UserId, new { value = Model.UserId })
    <br />
    <input type="submit" value="Film hozzáadása" />
}
    </div>

<script>
    var actors;
    function removeActor(e) {
        e.preventDefault();
        actors = [];
        let len = document.getElementsByClassName("actorInput").length;
        for (let i = 0; i < len; i++) {
            if (document.getElementsByClassName("actorInput")[i].value != "") {
                actors.push(document.getElementsByClassName("actorInput")[i].value);
            }
        }
        actors.splice(e.target.id.split("_")[1], 1);
        for (let i = 0; i < document.getElementsByClassName("removeActor").length; i++) {
            document.getElementsByClassName("removeActor")[i].removeEventListener("click", removeActor, false);
        }
        len = actors.length;
        document.getElementById("addActors").innerHTML = "";
        for (let i = 0; i < len; i++) {
            document.getElementById("addActors").innerHTML += "<input type='text' value='" + actors[i] + "' name='actor_" + i + "' id='actor_" + i + "' class='actorInput'/>";
            document.getElementById("addActors").innerHTML += "<button id='removeActor_" + i + "' class='removeActor'>Törlés</button><br /><br />";
        }
        document.getElementById("addActors").innerHTML += "<input type='text' name='actor_" + len + "' id='actor_" + len + "' class='actorInput'/>";
        document.getElementById("addActors").innerHTML += "<button id='removeActor_" + len + "' class='removeActor'>Törlés</button><br />";
        for (let i = 0; i < document.getElementsByClassName("removeActor").length; i++) {
            document.getElementsByClassName("removeActor")[i].addEventListener("click", removeActor, false);
        }
    }
    function addActorButtonClick(e) {
        e.preventDefault();
        actors = [];
        let len = document.getElementsByClassName("actorInput").length;
        for (let i = 0; i < document.getElementsByClassName("removeActor").length; i++) {
            document.getElementsByClassName("removeActor")[i].removeEventListener("click", removeActor, false);
        }
        for (let i = 0; i < len; i++) {
            if (document.getElementsByClassName("actorInput")[i].value != '' && document.getElementsByClassName("actorInput")[i].value != undefined) {
                actors.push(document.getElementsByClassName("actorInput")[i].value);
            }
        }
        console.log(actors);
        len = actors.length;
        document.getElementById("addActors").innerHTML = "";
        for (let i = 0; i < len; i++) {
            document.getElementById("addActors").innerHTML += "<input type='text' value='" + actors[i] + "' name='actor_" + i + "' id='actor_" + i + "' class='actorInput'/>";
            document.getElementById("addActors").innerHTML += "<button id='removeActor_" + i + "' class='removeActor'>Törlés</button><br /><br />";
        }
        document.getElementById("addActors").innerHTML += "<input type='text' name='actor_" + len + "' id='actor_" + len + "' class='actorInput'/>";
        document.getElementById("addActors").innerHTML += "<button id='removeActor_" + len + "' class='removeActor'>Törlés</button><br />";
        for (let i = 0; i < document.getElementsByClassName("removeActor").length; i++) {
            document.getElementsByClassName("removeActor")[i].addEventListener("click", removeActor, false);
        }
    }
    for (let i = 0; i < document.getElementsByClassName("removeActor").length; i++){
        console.log(i);
        document.getElementsByClassName("removeActor")[i].addEventListener("click", removeActor, false);
    }
    document.getElementById("addActorButton").addEventListener('click', addActorButtonClick, false);
</script>